body {
    margin-top: 3rem;
    background: #ade;
}

.chat-notification {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 20rem;
    margin: 0 auto;
    padding: 0.4rem;
    background-color: #FFF;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
}

.chat-nortification-logo-wrapper img {
    max-width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.chat-nortification-logo-wrapper {
    flex-shrink: 0;
}

.chat-nortification-content {
    margin-left: 2rem;
}

.chat-nortification-title {
    color: #1a202c;
    font-size: 1.25rem;
    line-height: 1.25;
}

.chat-nortification-message {
    color: #718096;
    font-size: 1rem;
    line-height: 1.5;
}